## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN', 'NAME'], inplace=True)

In [3]:
# Determine the number of unique values in each column.
unique_counts = application_df.nunique()
print(unique_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
print(application_df['APPLICATION_TYPE'].value_counts())

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
app_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = list(app_type_counts[app_type_counts < 500].index)
print(application_types_to_replace)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts_greater_than_one = classification_counts[classification_counts > 1]
print(classification_counts_greater_than_one)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [17]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 1000].index)
print(classifications_to_replace)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150']

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [18]:
# Convert categorical data to numeric with `pd.get_dummies`
# create a list of columns to encode
cat_cols = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

# use pd.get_dummies to encode categorical variables
encoded_df = pd.get_dummies(application_df, columns=cat_cols)
encoded_df.shape

(34299, 44)

In [19]:
# Split our preprocessed data into our features and target arrays
X = encoded_df.drop("IS_SUCCESSFUL", axis=1).values
y = encoded_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [20]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [29]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
from tensorflow.keras.layers import Dense

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(Dense(units=80, activation='relu', input_dim=43))

# Second hidden layer
nn.add(Dense(units=30, activation='relu'))

# Output layer
nn.add(Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_21 (Dense)            (None, 80)                3520

 dense_22 (Dense)            (None, 30)                2430

 dense_23 (Dense)            (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [32]:
# Compile the model
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [35]:
# Train the model
nn.compile(optimizer='adam', loss='binary_crossentropy')

# Define the checkpoint path and filename
checkpoint_path = "model_weights/checkpoint_weights.{epoch:02d}.h5"

# Create a callback that saves the model's weights every five epochs
checkpoint_callback = tf.keras.callbacks.ModelCheckpoint(
    filepath=checkpoint_path,
    save_weights_only=True,
    save_freq=5 * len(X_train_scaled),
    verbose=1)

# Train the model with the checkpoint callback
fit_model = nn.fit(X_train_scaled, y_train, epochs=50, callbacks=[checkpoint_callback])

fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5375
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5373
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5375
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5374
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5367
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5368
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5368
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5368
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5363
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5363
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5364
Epoch 12/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5369
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5364
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5360
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5361
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5360
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5363
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5359
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5359
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5356
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5360
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5355
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5358
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5357
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5354
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5359
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5349
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5352
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5353
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5356
Epoch 31/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5351
Epoch 32/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5353
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5347
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5353
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5348
Epoch 36/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5348
Epoch 37/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5347
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5349
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5348
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5350
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5348
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5346
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5344
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5345
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5342
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5343
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5346
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5343
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5343
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5337
Epoch 1/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5344
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5340
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5336
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5341
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5338
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5338
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5339
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5337
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5339
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5340
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5338
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5337
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5337
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5337
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5335
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5338
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5337
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5330
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5335
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5336
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5338
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5333
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5335
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5335
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5332
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5338
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5331
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5331
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5337
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5334
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5331
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5334
Epoch 33/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5329
Epoch 34/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5329
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5327
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5329
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5338
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5327
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5332
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5331
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5331
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5334
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5329
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5326
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5328
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5328
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5324
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5331
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5338
Epoch 50/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5327

In [37]:
# Evaluate the model using the test data
evaluation = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {evaluation}, Accuracy: {evaluation}")

268/268 - 0s - loss: 0.5678 - 321ms/epoch - 1ms/step
Loss: 0.5678132772445679, Accuracy: 0.5678132772445679

In [47]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

In [48]:
import os
print(os.getcwd())

/content